$colorGreen: #0ce3ac;
$colorBlue: #3498db;
$colorLightBlue: #1e90ff;
$colorRed: #ad2121;
$colorLightRed: #ff0c0e;
$darkBackground: #222222;

@import "bootstrap/bootstrap-slate";
@import "screen_normal";