<ul id="comments" class="list-unstyled"></ul>
<div id="newComment">
    <form id="newCommentForm">
        <textarea class="form-control comment" name="comment" placeholder="<%- Translator.translate("raid.commentsTab.newComment") %>" rows="3"></textarea>
        <input type="submit" class="btn btn-primary pull-right" value="<%- Translator.translate("raid.commentsTab.send") %>"/>
        <div class="clearfix"></div>
    </form>
</div>