<!DOCTYPE html>
<html>
    <head>
        <title>Passwort zurücksetzen</title>
    </head>
    <body>
        Hallo <%-name %>,

        <p>
            Zum Zurücksetzen deines Passwortes für das DKP System, klicke hier:
            <a href="<%- resetUrl %>"><%- resetUrl %></a>
        </p>
    </body>
</html>